//- 共通パーツ
include /pug/global/_variable
include /pug/object/component/_index

//- 各ページ
//- top
//- include /pug/object/project/top/_top-kv

//- ページやパーツが多くなって管理がしにくくなったらindexを作る
//- include /pug/object/project/top/_index
//- include /pug/object/project/about/_index ...
